@model DataLayer.User

@{
    ViewBag.Title = Model.Name;
    ViewBag.Image = Model.ProfileImage;
    List<DataLayer.Message> messages = ViewBag.Messages;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4></h4>
    <hr />
    <img class="profile" src=@ViewBag.Image alt="Alternate Text" width="250" height="250" />
    <h4>
        @Html.DisplayNameFor(model => model.Description)
    </h4>

    <p>
        @Html.DisplayFor(model => model.Description)
    </p>

    <h4>Messages</h4>
    <dl class="dl-horizontal">
        @foreach (DataLayer.Message message in messages)
        {
            <dt>
                @message.Author.Name
                @*@Html.DisplayNameFor(model => model.Name)
                To do: Change code to display message sender*@
            </dt>

            <dd>
                @message.Content
                @*Html.DisplayFor(model => model.Name)
                To do: Change code to display message content*@
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
