@model PaganDating.Models.UserDetailsViewModel

@{
    ViewBag.Title = Model.User.Name;
    var image = Model.User.ProfileImage;
    var messages = Model.User.Inbox.ToList();
    var friends = Model.Friends;
    var requests = Model.Requests;
    var userId = ViewBag.UserId;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4></h4>
    <hr />

    <img class="profile" src=@image alt="Image error" width="250" height="250" />
    <hr />
    <h4>
        @Html.DisplayNameFor(model => model.User.Description)
    </h4>

    <p>
        @Html.DisplayFor(model => model.User.Description)
    </p>
    <hr />
    <p>
        <button class="send-friend-request btn btn-default">Send friend request</button>
        <button class="request-status">Request sent or already friends</button>
    </p>
    <hr />

    <p>
        <textarea class="message-textarea"></textarea>
    </p>
    <p>
        <button class="send-message btn btn-default">Send message</button>
    </p>

    <hr />

    <h4>Messages</h4>
    <div class="dl-horizontal">
        @foreach (DataLayer.Message message in messages)
        {
            <p>
                | @message.Author.Name : @message.Content |
            </p>



        }
    </div>
    <hr />
    <h4>Friends</h4>
    <div id="friendlist" class="dl-horizontal">
        <ul>
            @foreach (var friend in friends)
            {
                <li>
                    @Html.ActionLink(friend.Name, "Details", new { id = friend.Id })
                </li>
            }
        </ul>
    </div>
    <hr />
    <h4 class="friend-requests">Friend requests</h4>
    <div class="requestlist dl-horizontal">
        <ul>
            @{
                foreach (var request in requests)
                {
                    <li class="request">
                        <div class="request">
                            @Html.ActionLink(request.Name, "Details", new { id = request.Id })

                            <button data-requester=@request.Id class="accept-request btn btn-default">Accept</button>
                            <button data-requester=@request.Id class="reject-request btn btn-default">Reject</button>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>

<p class="edit-profile">
    @Html.ActionLink("Edit profile", "Edit", new { id = Model.User.Id })
</p>

@section Scripts {
    <script>
        $(document).ready(function () {
            var profileOwnerId = @Model.User.Id;
            var userId = @userId;
            @{var friendWithOwner = "false"; }

            $('.request-status').hide();

            if (profileOwnerId == userId) {
                $('.send-friend-request').hide();
            }

            @if(Model.FriendWithProfileOwner)
            {
                friendWithOwner = "true";
            }

            if (@friendWithOwner) {
                $('.send-friend-request').hide();
                $('.request-status').show();
                $('.request-status').prop('disabled', true).css('opacity', 0.5);
            }

            if (profileOwnerId != userId) {
                $('.friend-requests').hide();
                $('.request-list').hide();
                $('.request').hide();
                $('.accept-request').hide();
                $('.reject-request').hide();
                $('.edit-profile').hide();
            }

            
        })

        $('.send-friend-request').click(function () {
            var requester = @userId;
            var recipient = @Model.User.Id;

            $.get('/api/friendships/sendRequest?' +
                'requesterId=' + requester +
                '&recipientId=' + recipient, function () {
                    window.location.reload();
                });
        });

        $('.accept-request').click(function () {
            var requester = $(this).data('requester');
            var recipient = @Model.User.Id;

            $.get('/api/friendships/acceptRequest?' +
                'requesterId=' + requester +
                '&recipientId=' + recipient,
                function () {
                    window.location.reload();
                }
            );
        });

        $('.reject-request').click(function () {
            var requester = $(this).data('requester');
            var recipient = @Model.User.Id;

            $.get('/api/friendships/rejectRequest?' +
                'requesterId=' + requester +
                '&recipientId=' + recipient,
                function () {
                    window.location.reload();
                }
            );
        });

        $('.send-message').click(function () {
            $.get('/api/messages/create?' +
                'content=' + $('.message-textarea').val() +
                '&author=' + @userId +
                '&recipient=' + @Model.User.Id,
                function () {
                    window.location.reload();
                }
            );
        });
    </script>
    }

