@model PaganDating.Models.FriendRequestViewModel

@{
    ViewBag.Title = "Send friend Request";
}

<h2>sendMessage</h2>

<form id="request-form">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Friend Request</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Requester, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="requester" class="form-control" required />
            </div>
            @Html.LabelFor(model => model.Recipient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="recipient" class="form-control" required />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#request-form').submit(function (ev) {
            ev.preventDefault();
            var requester = $('#requester').val();
            var recipient = $('#recipient').val();

            $.get('/api/friendships/sendRequest?' +
                'requesterId=' + requester +
                '&recipientId=' + recipient,
                function () {
                    window.location.reload();
                }
            );
        });
    </script>

}
