@model DataLayer.Message

@{
    ViewBag.Title = "Message";
}

<h2>Message</h2>

<form id="message-form">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="content" class="form-control" required />
            </div>
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="author" class="form-control" required />
            </div>
            @Html.LabelFor(model => model.Recipient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="recipient" class="form-control" required />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Send</button>
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $('#message-form').submit(function (ev) {
            ev.preventDefault();
            var content = $('#content').val();
            var author = $('#author').val();
            var recipient = $('#recipient').val();

            $.get('/api/messages/create?' +
                'content=' + content +
                '&author=' + author +
                '&recipient=' + recipient,
                function () {
                    window.location.reload();
                }
            );
        });
    </script>

}
