@model IEnumerable<DataLayer.User>


@{ ViewBag.Title = "Home Page"; }

<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img src="https://cdn.shopify.com/s/files/1/0187/1688/products/Thors_hammer_grande.png?v=1493413851" height="250" width="250" />
        </div>
        <div class="col-md-5">
            <h1>Pagan Dating</h1>
            <p class="lead">A place to get to know pagans and what not</p>
        </div>
    </div>

</div>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img class="thumbnail" src=@item.ProfileImage height="50" , width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfileImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
            
            <td>
                @Html.ActionLink("Details", "Details",  new {Controller = "Users", id = item.Id }) 
            </td>
        </tr>
    }

</table>
